* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h3 {
  margin-top: 1em;
}

p {
  margin: 12px 0;
}
p a {
  overflow-wrap: break-word;
  border-bottom: 3px solid #d76f8a;
  color: #1d2021;
  text-decoration: none;
}
ul,
ol > li {
  margin: 12px 0 12px 5%;
}
blockquote {
  /* font-size: inherit; */
  background: whitesmoke;
  border-left: 5px solid #d76f8a; /*#ccc;*/
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  /* content: open-quote; */
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-style: italic;
  font-size: 0.8em;
}
.page {
  width: 60%;
  margin: auto;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 3vh auto;
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  opacity: 0.5;
}
.title-center {
  text-align: center;
  text-transform: uppercase;
  margin: 1.2em 0;
}
.text-center {
  text-align: center;
}
.link {
  border-bottom: 3px solid #d76f8a;
  text-decoration: none;
  color: #1d2021;
  transition: background-color 0.3s;
}
.LangNav {
  display: flex;
  align-items: center;
  min-height: 5vh;
  flex-wrap: wrap;
}
.lang {
  margin: 5px;
  border: solid 2px #d76f8a;
  padding: 5px 15px;
  border-radius: 5px;
}
p a:active,
p a:hover,
.link:active,
.link:hover {
  background-color: #d76f8a;
  border: 2px solid #d76f8a;
  color: #ffffff;
}
.presentation {
  display: flex;
  width: 90%;
  height: auto;
  align-items: center;
  margin: auto;
}
.cover {
  flex: 2;
}

.cover img {
  height: 40vh;
  padding: 0;
  animation: dropdown 1.5s ease-in forwards;
}
.introduction {
  flex: 2;
  opacity: 0;
  animation: fadein 1.5s ease-in forwards;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  margin-top: 2em;
}
.intro-text p {
  font-size: 22px;
  margin-top: 5px;
}
.cta {
  padding: 20px 0px 50px 0px;
}
.cta button {
  border: none;
  background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
  width: 150px;
  height: 50px;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  box-shadow: 2px 5px 8px #888888;
  margin: 5px;
}
.bigger-circle {
  position: absolute;
  top: 13%;
  right: 0px;
  z-index: -2;
  opacity: 0.1;
  height: 60%;
  animation: fadeincircle 1.5s ease-in forwards;
}
.big-circle {
  position: absolute;
  top: 13%;
  right: 20%;
  z-index: -2;
  opacity: 0.1;
  animation: fadeincircle 1.5s ease-in forwards;
}
.small-circle {
  position: absolute;
  bottom: 35%;
  right: 20%;
  z-index: -2;
  opacity: 0.1;
  animation: fadeincircle 1.5s ease-in forwards;
}
.fscilogo-bg {
  position: absolute;
  top: 10%;
  bottom: 35%;
  right: 20%;
  z-index: -2;
  opacity: 0.1;
  max-width: 70%;
  animation: fadeincircle 1.5s ease-in forwards;
}

#statements {
  text-align: center;
  margin-top: 2em;
}
.statements-section {
  display: flex;
  width: 90%;
  margin: auto;
}
.statement {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px;
  align-items: center;
  border: 2px solid #efefef;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
  padding: 30px;
  flex: 1;
}
.statement:hover {
  box-shadow: 2px 5px 4px #888888;
}

small {
  margin: 10px 0px;
}
.poddery {
  margin-top: 12vh;
  padding: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  background: url("../img/bg.png");
}
.poddery-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: appear 1.5s ease-in forwards;
}
.poddery-logo {
  display: flex;
  width: 90%;
  justify-content: center;
  align-content: center;
  flex: 1;
}
.poddery-logo img {
  height: 10vh;
  margin-top: 5vh;
}
.poddery-intro-text {
  flex: 1;
  text-align: center;
  width: 50%;
}
.poddery-intro-text h1 {
  font-size: 44px;
  font-weight: 500;
}
.poddery-intro-text p {
  font-size: 22px;
  margin-top: 5px;
}
.poddery-services-list {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.cta-poddery button {
  background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
  background: transparent;
  border: 2px solid #000;
  border-radius: 0px;
  color: #333;
  font-weight: 600;
  padding: 8px 8px;
  margin-top: 22px;
  margin-right: 12px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cta-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.cta-poddery button:hover {
  background: #333;
  border: 2px solid #333;
  color: #ffffff;
}
.poddery-services {
  width: 400px;
  margin: 20px;
  padding: 20px 30px;
  text-align: center;
  border: 2px solid #333;
  background: transparent;
  color: #212121;
}
.poddery-services:hover {
  background: #333;
  border: 2px solid #333;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.poddery-services:hover img {
  filter: invert(100%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.poddery-services p {
  text-align: justify;
}
.poddery-services a {
  text-decoration: none;
  color: #212121;
}
.poddery-services:hover a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.services-logo {
  height: 50px;
}
.services-logo img {
  filter: invert(1);
}
.services {
  margin-top: 12vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.services h1 {
  font-size: 44px;
  font-weight: 500;
}
.other-services {
  justify-content: center;
  text-align: center;
  align-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.service-block {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  margin: 20px;
  border: 2px solid #efefef;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
}
.service-block:hover {
  box-shadow: 2px 5px 4px #888888;
}
.service-block img {
  margin-top: 20px;
}
.service-block p {
  text-align: center;
  margin-top: 20px;
}
.service-block h2 {
  margin-top: 20px;
}
.service-block a {
  text-decoration: none;
  color: #212121;
}
.label {
  border: 1px solid #d9534f;
  color: #ffffff;
  background-color: #d9534f;
  border-radius: 5px;
  padding: 3px;
  margin-top: 20px;
  font-size: 1em;
  font-family: monospace;
}
.label-dark {
  border: 1px solid gray;
  color: #fdf7f7;
  background-color: gray;
  border-radius: 5px;
  padding: 3px;
  font-size: 1em;
  font-family: monospace;
  font-weight: bold;
  margin-right: 20px;
}
.label-danger {
  border: 3px solid #d9534f;
  color: #ffffff;
  background-color: #d9534f;
  border-radius: 10px;
  padding: 3px;
  margin-top: 20px;
  font-weight: bold;
}
.label-notice {
  border: 3px solid #d9534f;
  border-radius: 10px;
  padding: 3px;
  margin-top: 20px;
  font-weight: bold;
}
.list-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}
footer {
  margin-top: 10vh;
  /* padding: 20px; */
  background: linear-gradient(to left, #d76f8a 0%, #e09a60 100%);
}
.footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  /* padding: 20px; */
  border-radius: 5px;
  color: #ffffff;
}
.footer-div h2 {
  font-size: 28px;
  margin-bottom: 3vh;
  font-weight: 500;
}
.social {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin: auto;
}
.social li {
  list-style: none;
}
.social-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
}
.first {
  opacity: 0;
  animation: fadein 1s ease-in 0.2s forwards;
}
.second {
  opacity: 0;
  animation: fadein 1s ease-in 0.5s forwards;
}
.third {
  opacity: 0;
  animation: fadein 1s ease-in 0.8s forwards;
}
.comments {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments a img {
  height: 35px;
  margin: 0px 10px;
  background: #f3ae2d;
  border: solid 5px #f3ae2d;
}
.comments a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  background: #f3ae2d;
  padding: 10px;
  margin: 40px auto 0px auto;
  transition: background 0.3s;
  border: solid 3px #f3ae2d;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments a:active,
.comments a:hover {
  background: white;
  color: #f3ae2d;
}
@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeincircle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .presentation {
    height: auto;
  }
  .cover {
    display: flex;
    height: auto;
    align-items: center;
    margin-top: 5vh;
  }
  .cover img {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin: auto;
    height: auto;
  }
  .introduction {
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .small-img {
    height: 600px;
  }
  .bigger-circle {
    top: 20%;
  }
  .big-circle {
    top: 20%;
  }
  .small-circle {
    bottom: 15%;
  }
  .page {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
    height: auto;
  }
  .cover {
    display: flex;
    height: auto;
    align-items: center;
    margin-top: 5vh;
  }
  .small-img {
    height: 400px;
  }
  .cover img {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    height: auto;
  }
  .introduction {
    text-align: center;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .cta {
    padding: 10px 0px 0px 0px;
  }
  .bigger-circle {
    top: 20%;
  }
  .big-circle {
    top: 20%;
  }
  .small-circle {
    bottom: 15%;
  }
  .statements-section {
    flex-direction: column;
  }
  .statement {
    width: auto;
  }
  .poddery-intro-text {
    width: auto;
    padding: 10px;
  }
  .poddery-services-list {
    flex-direction: column;
    width: auto;
  }
  .poddery-services {
    width: auto;
  }
  .other-services {
    flex-direction: column;
    flex-wrap: none;
    width: auto;
  }
  .service-block {
    width: auto;
  }
  .social {
    width: auto;
  }
}

@media screen and (max-width: 300px) {
  .social {
    display: block;
  }
}

/*Members page*/

.member-picture {
  width: 200px;
  border-radius: 200px;
  margin: 10px;
}

.member-list {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.member-contact {
  font-family: monospace;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  border: 2px solid #efefef;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
  padding: 30px;
  max-width: 15em;
  min-width: 15em;
}

.card:hover {
  box-shadow: 2px 5px 4px #888888;
}

@media screen and (max-width: 1024px) {
  .member-list {
    flex-direction: column;
  }
}

/* Peertube video styling in blog*/

.video-presentation {
  display: flex;
  width: 80%;
  height: auto;
  align-items: center;
  margin: auto;
}
.video-frame {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 1rem;
  height: 0;
  overflow: hidden;
}

.video-embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.banner {
  text-align: justify;
  margin: auto;
  max-width: 60em;
  border: 2px solid #efefef;
  box-shadow: 5px 7px 7px 0 #888888;
  border-radius: 5px;
  border-left: 0.4em solid #d76f8a;
  /* font-size: 1.2em; */
  padding: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}
.pagination > li {
  margin: 10px;
}
.pagination > li > a {
  background-color: #d76f8a;
  text-decoration: none;
  color: #1d2021;
  transition: background-color 0.3s;
  color: white;
  padding: 2px 15px 2px 15px;
  border-radius: 10px;
}
.pagination .active {
  opacity: 0.4;
}
.pagination .disabled {
  opacity: 0.4;
}
