{{define "main"}}
<br>
<section class="page">
  <h1 class="title-center">Blog</h1>
  <h3>Recent Tags:</h3>
</ul>
<div class="tags">
  {{range .Site.Taxonomies.tags.ByCount}}
  <span class='label' style='margin: 0.4em'>
    <a style="color: white; text-decoration: none;" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
  </span>
  {{ end }}
</div>
{{ range .Paginator.Pages}}
<div class="col-md-4">
  <well class="well">
    <h3><a class="link" href="{{.Permalink}}">{{.Title}}</a></h3>
    <div class="list-item">
      <small class="label-dark">{{ .PublishDate.Format "January 2, 2006" }}</small>
      {{ $author := "false" }}
      {{  if not (eq .Params.Author $author) }}
      <p style="margin-right: 20px"><b>By : </b><a class="link"  href="{{ .Params.author_about }}">{{ .Params.Author }}</a></p>
      {{ end }}
      <p ><b>Reading Time:</b> {{.ReadingTime}} min</p>
    </div>
    <p>{{ .Summary }}</p>
  </well>
</div><br>
{{end}}
{{ template "_internal/pagination.html" . }}
</div>
</section>
{{end}}
